<div class="card-body">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productsCategory">
                    <td class="text-center">{{ product.product }}</td>
                    <td class="text-center">${{ product.price }}</td>
                    <td>
                        <button (click)="productDetail(product.gtin)" type="button" class="btn btn-primary btn-sm">
                            Ver Detalle
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>