<nav class="navbar navbar-expand-lg bg-black">
    <div class="container px-4 px-lg-5">
        <img class="img" routerLink="/" src="../../../../../assets/Logitech_logo.svg.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white navbar-brand" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">CATEGORIAS</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/">Aleatorio</a></li>
                        <li *ngFor="let category of categories"><a class="dropdown-item" routerLink="/" >{{ category.category }}</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link text-white navbar-brand" routerLink="/">FACTURAS</a></li>

            </ul>
            <form class="d-flex">
                 <!-- Button to Open the Modal -->
                <button class="btn btn-warning" onclick="timeOut()"  data-bs-toggle="modal" data-bs-target="#dialogTotal">
                    <i class="bi-cart-fill me-1"></i>
                    Carrito
                    <span class="badge bg-warning text-black ms-1 rounded-pill" id="cart">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>