.cards-img{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.card-img{
    margin-right: 10px;
}

.botonder{
    margin-right: 25px;
    font-size: 125%;
}
.botonizq{
    margin-left: 25px;
    font-size: 125%;
    margin-top: 2px;
}

.cantidad{
    width:50px; 
    height:38px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 2px;
}
.cantidadtext{
    font-size: 125%;
    text-align: right;
    font-weight: bold;
}