.cards-img{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.card-img{
    margin-right: 10px;
}

.botonder{
    margin-right: 932px;
}
.botonizq{
    margin-left: 25px;
}

.cantidad{
    width:45px; 
    height:30px;
    margin-right: 10px;
    margin-top: 2px;
}